.one{
   
    font-size: 30px;
    color:rgb(190, 185, 185);
    display: flex;
    position: relative;
    justify-content: center;
    top:20%;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Tektur', cursive;
    animation: vibrate 5.5s infinite;
}
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  .vibrating-image {
    animation: vibrate 3.5s infinite;
  }
  .two{
    box-shadow: 0 -1.5rem 10rem rgb(251, 1, 1);
    font-size: 30px;
    color: rgb(254, 113, 113);
    position:relative;
    display: flex;
    justify-content: center;
    top: 30%;
  }
  p{
    
    font-family:cursive;

  }
  .zero{
    position: relative;
    top: 30%;
    background-color: rgb(250, 250, 250);
  }
  .card {
    box-shadow: 0 1.5rem 6rem rgb(252, 2, 2);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.1); 
  }